.dotsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 0;
}

.dot {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0;
  animation: float linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: var(--max-opacity, 0.5);
  }
  90% {
    opacity: var(--max-opacity, 0.5);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
